/*----------------*/
/*Course Section Start */
/*----------------*/
.course {
    background-color: hsl( var(--clr-primary) );
}

.courses-heading {
    color: hsl( var(--clr-white) );
}

.course-content {
    padding: 1rem;
}

.course-cards-container {
    max-width: 1340px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* course card */
.course-card {
    width: 20rem;
    height: 30rem;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    transition: all 0.3s ease;
}

.course-card:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.course-img {
    width: 100%;
    min-width: 304px;
    height: 160px;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.course-img img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-info h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin: 0;
}

.course-description {
    width: 100%;
    height: 10.4rem;
}

.course-info p {
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.2rem;
    padding: 0.5rem;
    hyphens: auto;
    text-align: justify;
    word-spacing: -0.9px;
}

.duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    color: hsl( var(--clr-gray-dark) );
    margin: 0;
}

.duration img {
    width: 15px;
    margin-right: 0.3rem;
}

.enrol-btn {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.enrol-btn:hover {
    background-color: var(--primary-color);
}

.slick-prev:before, .slick-next:before {
    font-size: 2rem !important;
}

.slick-prev {
    left: -50px !important;
}

/*----------------*/
/*Course Section End */
/*----------------*/

/*----------------*/
/*Responsive Course Section Start */
/*----------------*/
@media (max-width: 1450px) {
    .course-cards-container {
        max-width: 1000px;
    }
}

@media (max-width: 1100px) {
    .course-cards-container {
        max-width: 660px;
    }
}

@media (max-width: 768px) {
    .slick-prev {
        left: -40px !important;
    }
}

@media (max-width: 750px) {
    .course-cards-container {
        max-width: 330px;
    }
}

@media (max-width: 500px) {
    .course-card {
        width: 18rem;
        height: 28rem;
    }
    .course-img {
        min-width: 260px;
        min-height: 120px;
    }

    .course-img img { 
        width: 95%;
    }

    .web-img {
       width: 80% !important;
    }

    .course-cards-container {
        max-width: 300px;
    }
}

@media (max-width: 400px) {
    .course-card {
        width: 17rem;
        height: 27rem;
    }

    .course-img {
        min-width: 200px;
        min-height: 100px;
    }

    .course-img img { 
        width: 90%;
    }

    .course-cards-container {
        max-width: 280px;
    }
}
/*----------------*/
/*Responsive Course Section End */
/*----------------*/