main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr fit-content;
    }
}