@media (max-width: 1450px) {
    .course-cards-container {
        max-width: 1000px;
    }
}
@media (max-width: 1200px) {
    .video-gallery {
        padding: 0 2rem;
    }

    .image-gallery {
        padding: 0 2rem;
    }
    
    .our-team {
        padding: 0 2rem;
    }

    .footer-content {
        padding: 0 2rem;
    }
}

@media (max-width: 1100px) {
    .course-cards-container {
        max-width: 660px;
    }
}

@media (max-width: 1000px) {
    .primary-navigation a {
        font-size: var(--fs-300);
        padding: 0 0.5rem;
    }

    .dropdown-menu {
        width: 20rem;
    }

    .contact-menu {
        width: 90%;
        transform: translate(5.5%, 0%);
    }

    .contact-header {
        font-size: var(--fs-300);
        height: 40px;
    }

    .map-container iframe {
        height: 90%;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr fit-content;
    }

    .slider-content {
        flex: 1;
        max-width: 600px;
        margin: 0 auto;
        padding: 0.5rem 0.5rem;
    }

    .slide-img {
        width: 10rem;
        height: 10rem;
    }

    .our-team {
        padding: 0 8rem;
    }

    .footer {
        height: fit-content;
    }

    .footer-content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 2rem 2rem;
    }

    .footer-logo {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        place-items: center;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer-copyright {
        height: 5rem;
        padding: 1rem 2rem;
    }

}


@media (max-width: 768px) {
    .top-bar {
        justify-content: center;
    }

    header {
        padding: 1rem 1rem;
    }

    .primary-navigation {
        width: 50%;
        height: 100%;
        min-height: 100vh;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        padding: min(20rem, 10vh) 1rem;
        transform: translateX(100%);
        transition: transform 500ms ease-in-out;   
    }

    .primary-navigation li {
        padding-bottom: 1rem;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0);
    }

    .primary-navigation.underline-indicators > .active {
        border: 0;
    }

    .dropdown-menu {
        width: 18rem;
        position: relative;
    }

    .contact-menu {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .contact-detail {
        overflow-y: scroll;
    }

    .map-container iframe {
        height: 79.5%;
    }

    .contact-content-list {
        gap: 0rem;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 2000;
        right: 0.75rem;
        top: 0.75rem;
        background: transparent;
        background-image: url(../icons/icon-hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 1.5rem;
        aspect-ratio: 1;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url(../icons/icon-close.svg);
    }

    .mobile-nav-toggle:focus-visible {
        outline: 5px solid hsl( var(--clr-white) );
        outline-offset: 5px;
    }

    .slider__nav-button {
        height: 40px;
        width: 40px;
      }
      .slider__navlink {
        height: 12px;
        width: 12px;
      }

      .affiliate-banner {
        height: 80px;
      }

      .affiliate-logos img {
        width: 60px;
    }

    .slick-prev {
        left: -40px !important;
    }

    .video-gallery {
        padding: 0 2rem;
    }

    .image-gallery {
        padding: 0 2rem;
    }
    .our-team {
        padding: 0 7rem;
    }

    .swiper-slide {
        width: 200px;
    }

    .popup {
        width: 90%;
    }

    .close {
        top: 5px;
        right: 5px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        font-size: 1.1rem;
        border: 1px solid hsl( var(--clr-white) );
    }
}

@media (max-width: 750px) {
    .course-cards-container {
        max-width: 330px;
    }
}

@media (max-width: 650px) {
    .slider-content {
        flex: 1;
        max-width: 300px;
    }

    .slide-img {
        width: 7rem;
        height: 7rem;
    }

    .slide-1 h3 {
        font-size: var(--fs-200);
    }

    .slide-1 p {
        font-size: var(--fs-100);
    }

    .slider__nav {
        display: none;
    }

    .affiliate-banner {
        height: 100px;
        flex-direction: column;
        gap: 0rem;
      }

      .affiliate-logos {
        gap: 0.5rem;
      }

      .affiliate-logos img {
        width: 50px;
    }

    .video-section {
        padding: 0 2rem;
    }
    .our-team {
        padding: 0 2rem;
    }

    iframe {
        width: 17rem;
        height: 12rem;
      }

      .footer-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 0 2rem 2rem;
    }

    .footer-logo {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .footer-links {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        place-self: start;
    }

    .footer-contact {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
        place-self: start;
    }

    .footer-copyright {
        padding: 1rem 2rem;
    }

    .footer-copyright p {
        font-size: 1rem;
    }

    .footer-link {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .top-bar {
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0rem;
        gap: 0rem;
    }
    .contact-number {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-icons {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: hsl( var(--clr-secondary) );
    }

    .social-icons a {
        padding: 0.3rem;
    }

    .primary-navigation {
        width: 70%;
    }

    .dropdown-menu {
        width: 15rem;
        padding: 0.5rem 0.2rem;
    }

    .dropdown-menu a {
        padding: 0.5rem 0.2rem;
    }

    .mobile-nav-toggle {
        width: 1.3rem;
        right: 0.75rem;
        top: 0.9rem;
    }

    .course-card {
        width: 18rem;
        height: 28rem;
    }
    .course-img {
        min-width: 260px;
        min-height: 120px;
    }

    .course-img img { 
        width: 95%;
    }

    .web-img {
       width: 80% !important;
    }

    .course-cards-container {
        max-width: 300px;
    }

}

@media (max-width: 400px) {
    .primary-navigation a {
        font-size: var(--fs-200);
    }

    .dropdown-menu {
        width: 12rem;
    }

    .course-card {
        width: 17rem;
        height: 27rem;
    }

    .course-img {
        min-width: 200px;
        min-height: 100px;
    }

    .course-img img { 
        width: 90%;
    }

    .course-cards-container {
        max-width: 280px;
    }
}