/*----------------*/
/*top bar start */
/*----------------*/
.top-bar {
    position: relative;
    height: 50px;
    background-color: var(--primary-color);
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0 1.2rem;
}

.contact-number a {
    color: hsl( var(--clr-white) );
    display: flex;
}

.social-icons {
    gap: 1rem;
}

.social-icons img, .contact-number a img {
    width: 1.25rem;
}

/*----------------*/
/*top bar end */
/*----------------*/

/*----------------*/
/*respnonive topbar start */
/*----------------*/
@media (max-width: 768px) {
    .top-bar {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .top-bar {
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 0rem;
        gap: 0rem;
    }

    .top-bar .contact-number {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-bar .social-icons {
        width: 100%;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: hsl( var(--clr-secondary) );
    }

    .top-bar .social-icons a {
        padding: 0.3rem;
    }
}
/*----------------*/
/*respnonive topbar end */
/*----------------*/